/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Layout */
:root {
    --primary: #1aac83;
    --error: #e7195a;
}

body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Poppins";
}

header {
    background: #fff;
}

header .container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

.pages {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center; 
}

/* Homepage */
.home {
    display: grid;
    gap: 100px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    min-width: 1100px;
}

.navbar-nav {
    display: flex; 
}

.nav-item {
    margin-left: 10px; 
}

.dropdown {
    max-width: 200px; 
    overflow: hidden;  
    min-height: 40px; 
}

.dropdown-row {
    cursor: pointer;      
}

.scatter-container {
    display: flex;
    align-items: flex-start;
}

.dropdown-container {
    margin-right: 20px;
}

.scatter-plot {
    border: 1px solid #00274D; /* Added '#' for color code */
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
}

.color-legend {
    margin-left: 20px;
    border: 1px solid #00274D; /* Added '#' for color code */
    padding: 10px;
    border-radius: 5px;
}

/* Apply dark blue color to all text on the page */
body, 
header, 
.pages, 
.nav-item,
.dropdown-row, 
.scatter-plot, 
.color-legend {
    color: #00274D !important; 
}

/* Apply font to head and body */
header, 
body {
    font-family: 'Roboto', 'Arial', sans-serif; 
    margin: 0; 
    width: 100%;
}

/* Navbar Formatting */
header .container {
    align-items: center;
    padding: 10px 20px;
    background-color: lightgrey;
}

header h1 {
    font-weight: 500;
    color: #00274D;
    align-items: center;
}

header .logo {
    height: 40px;  
    width: auto;
}
.h2-search {
  margin-bottom: 20px;
}
.scatter-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
}